<template>
	<form submit.delegate="login()">
		<!--<ul><li repeat.for="error of controller.errors">${error.message}</li></ul>-->
		<div class="form-row">
			<label i18n="username_label">
				Username
				<input type="text" placeholder="please enter your username" value.bind="username & validate" i18n="[placeholder]username_placeholder" aria-describedby="username-help-text">
			</label>
			<p class="help-text" id="username-help-text" i18n="username_help_text">Enter your coporate id</p>
		</div>
		<div class="form-row">
			<label i18n="password_label">
				Password
				<input type="password" placeholder="********" value.bind="password & validate" i18n="[placeholder]password_placeholder" aria-describedby="password-help-text">
			</label>
			<p class="help-text" id="password-help-text" i18n="password_help_text">Enter your coporate id</p>
		</div>
		<button type="button" class="">
			<span i18n="login_button.text">Login</span>
		</button>
	</form>
</template>
