<template>
    <form submit.delegate="login()" validation-renderer="foundation-form" validation-errors.bind="errors">
        <fieldset class="fieldset">
            <validation-summary errors.bind="errors" autofocus.bind="controller.validateTrigger === 'manual'">
            </validation-summary>
            <legend i18n="login_form_legend">Login Form</legend>
            <div class="form-row">
                <label for="username-input" i18n="username_label">Username</label>
                <input id="username-input" type="text" placeholder="please enter your username" value.bind="username & validate" i18n="[placeholder]username_placeholder">
            </div>
            <div class="form-row">
                <label for="password-input" i18n="password_label">Password</label>
                <input id="password-input" type="password" placeholder="********" value.bind="password & validate" i18n="[placeholder]password_placeholder">
            </div>
            <div class="form-row">
                <button type="submit" class="button">
                    <span i18n="login_button.text">Login</span>
                </button>
            </div>
        </fieldset>
    </form>
</template>
